
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index6</title>
</head>
<body>
    <div>
        @{ 
            HttpCookie cookie =  Request.Cookies["ProductCookies"];
            string Name = cookie["Name"];
            string Id = cookie["Id"];
            string Price = cookie["Price"];
        }

        <table border="1" align="center" width="20%">
            <caption>Product Details</caption>
            <tr><td>Id:</td><td>@Id</td></tr>
            <tr><td>Name:</td><td>@Name</td></tr>
            <tr><td>Price:<td>@Price</td></tr>
        </table>
        <center>Click to launch new <a href="/Home/Index7">Page</a>.</center>
    </div>
</body>
</html>
