
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>
</head>
<body>
    <div>
        <table border="1" align="center" width="15%">
            <caption>Product Details</caption>
            <tr><td>Id:</td><td>@TempData["Id"]</td></tr>
            <tr><td>Name:</td><td>@TempData["Name"]</td></tr>
            <tr>
                <td>Price:</td>
                <td>
                    @{
                        double Price = Convert.ToDouble(TempData["Price"]);
                        Price = Price + (Price * 10 / 100);
                        @Price
                    }
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
